table
  colgroup
    col.rownames
    col.string
    col.nominal
    col.ordinal
    col.scalar
    col.datetime
  thead
    tr
     th.rownames
     th.string   String
     th.nominal  Nominal
     th.ordinal  Ordinal
     th.scalar   Scalar
     th.datetime DateTime
  tbody
    - for (var j=0; j < 50; j++)
      tr
        td.rownames(scope="row") #{j}
        td.string   Foo#{j}
        td.nominal  #{["Male","Female"][j % 2]}
        td.ordinal  #{["Freshman","Sophomore", "Junior"][j % 3]}
        td.scalar   #{(10/(2*j+1)).toFixed(3)}
        td.datetime 2013/12/03