!!!5
html
  title Forgot Password
  body Forgot Password?
    form(name="reset",
      action="reset")
      <br \>
      label(for="email") Enter Email  
        input(type="text", 
          name="email", 
          id="email") 
      <br \> 
      label(for="sub")
        <br \>
        input(type="reset", 
          name="res", 
           value="Reset", 
           id="res") 