!!! 5
html
  head
    link(href="stylesheets/screen.css"
      media="screen, projection"
      rel="stylesheet"
      type="text/css")

  title Forgot Password
  body 
    include header
    h1 Forgot Password?
    form(name="reset",
      action="reset")
      <br \>
      label(for="email") Enter Email  
        input(type="text", 
          name="email", 
          id="email") 
      <br \> 
      label(for="sub")
        <br \>
        input(type="reset", 
          name="res", 
           value="Reset", 
           id="res")
  include footer
  include scripts
   