!!!5
html
  title PanthR Login
  body PanthR Login
    form(name="simple login", 
      action="Login")
      <br \>
      label(for="email") Email  
        input(type="text", 
          name="email", 
          id="email") 
      <br \> 
      label(for="pwd") Password 
        input(type="password", 
          name="pwd", 
          id="pwd")
      <br \>
      label(for="button1")
        <br \>
        input(type="submit", 
          name="login", 
           value="Login", 
           id="button1")            
    a(href="/forgotPwd") Forgot Password? 
    <br \>
    a(href="/register") Register!
      