!!! 5
html
  head
    link(href="stylesheets/screen.css"
      media="screen, projection"
      rel="stylesheet"
      type="text/css")
      
  title PanthR Login
  body 
    include header
    h1 PanthR Login
    form(name="simple login", 
      action="Login"
      method="POST")
      br
      label(for="email") Email  
        input(type="text", 
          name="email", 
          id="email") 
      br 
      label(for="pwd") Password 
        input(type="password", 
          name="pwd", 
          id="pwd")
      br
      label(for="button1")
        br
        input(type="submit", 
          name="login", 
           value="Login", 
           id="login")            
    a(href="/forgotPwd") Forgot Password? 
    br
    a(href="/register") Register!
  include footer
  include scripts
      