!!!5
html
  title Register
  body Register for PanthR
    form(name="reg",
      action="register")
      <br \>
      label(for="email") Email  
        input(type="text", 
          name="email", 
          id="email") 
      <br \> 
      label(for="nname") Nickname  
        input(type="text", 
          name="nname", 
          id="nname") 
      <br \> 
      label(for="pwd") Password  
        input(type="password", 
          name="pwd", 
          id="pwd") 
      <br \> 
      label(for="sub")
        <br \>
        input(type="submit", 
          name="sub", 
           value="Submit", 
           id="sub") 